---
import ButtonLink from "../ui/ButtonLink.astro";
---

<header>
  <div class="menu-container">
    <div class="menu-icon-container">
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
    </div>
    <nav>
      <ul>
        <li><a href="#sobremi">Sobre mi</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#opiniones">Opiniones</a></li>
      </ul>
    </nav>
  </div>
  <div class="button-container">
    <ButtonLink
      text="Contactame"
      href="#contactForm"
    />
  </div>
</header>

<style>
  header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
    position: relative;
  }

  .menu-icon-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.5rem 0.25rem;
  }

  .menu-container {
    display: flex;
    align-items: center;
    position: fixed;
    will-change: transform;

    z-index: 999;
  }

  .menu-bar {
    width: 35px;
    height: 4px;
    background-color: var(--ghost-white);
    display: block;
  }

  .scrolled {
    background-color: var(--french-gray);
    border-radius: 6px;
  }

  nav {
    display: none;
    width: 100%;

    border-radius: 6px;
  }
  nav > ul {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    justify-content: space-evenly;
  }

  .open {
    display: flex;
    background-color: var(--french-gray);
  }

  .button-container {
    margin-left: auto;
  }
</style>

<script>
  const menuIcon = document.querySelector(
    ".menu-icon-container"
  ) as HTMLDivElement;
  const menuContainer = document.querySelector(
    ".menu-container"
  ) as HTMLDivElement;
  const nav = document.querySelector("nav") as HTMLDivElement;

  menuIcon?.addEventListener("click", () => {
    nav?.classList.toggle("open");
    menuContainer?.classList.toggle("scrolled");
  });

  window.addEventListener("scroll", () => {
    if (window.scrollY > window.innerHeight - window.innerHeight * 0.2) {
      menuContainer?.classList.add("scrolled");
    } else {
      menuContainer?.classList.remove("scrolled");
    }
  });
</script>
