---
import BigCircle from "../ui/BigCircle.astro";
import { OpinionSlider } from "../ui/OpinionesSlider";
import { getCollection } from "astro:content";
const opinions = await getCollection("opinions");
---

<section
  id="opiniones"
  class="container oculto"
  style={{ position: "relative" }}>
  <h2>Opiniones</h2>
  <OpinionSlider
    client:only="react"
    opinions={opinions}
  />
  <BigCircle
    width="300px"
    top="60%"
    left="75%"
    background="repeating-linear-gradient(45deg, var(--silver), var(--silver) 10px, transparent 10px, transparent 20px)"
    zindex="-1"
  />
</section>

<style>
  #opiniones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
</style>
