---
import "../styles/slider.css";
import { ProyectosSlider } from "../ui/ProyectosSlider";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section
  class="container oculto"
  id="proyectos">
  <h2 class="proyectos-main-title">Proyectos</h2>
  <ProyectosSlider
    client:only="react"
    projects={projects}
  />
</section>

<style>
  #proyectos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
</style>
